<div class="cart-modal">
    <a href="#" class="close-cart-popup">&#10539;</a>
    <h3 class="item-count">There are <span class="cart-item-count"></span> item(s) in your cart.</h3>
    <div class="cart-modal-content">
    </div>
    <div class="cart-modal-buttons">
        <a href="/checkout" id="cart-checkout" class="btn btn-red">
            Checkout
        </a>
        <a href="/cart" id="cart-checkout" class="btn btn-white btn-red-border">
            Go to cart
        </a>
    </div>
</div>



