<div class="faqs-section">
    <div class="container">
        <h1>{{ section.settings.section-title }}</h1>
        
    </div>
</div>


{% schema %}
{
  "name": "Faqs",
  "class": "faqs",
  "settings": [
    {
      "id": "section-title",
      "type": "text",
      "label": "Section title"
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "faq",
      "settings": [
            {
              "id": "summary",
              "type": "text",
              "label": "Summary",
              "default": "Heading"
            },
            {
              "id": "detail",
              "type": "textarea",
              "label": "Detail",
              "default": "Detail text"
            }
        ]
    }
  ],
  "presets": [
      {
        "name": "Faqs"
      }
    ]
}
{% endschema %}
