<section data-section-id="{{ section.id }}" class="rendering-cart">
    <div class="container">

    </div>
</section>


{% schema %}
  {
    "name": "Cart",
    "settings": [
    ],
    "blocks": [],
  "presets": [
      {
        "name": "Cart"
      }
    ]
  }
{% endschema %}
